<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://kit.fontawesome.com/b068d6698a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="loginn">
    <header>
        <div class="liebre"><a href="/"><img width="50%" src="/images/logo-mercado-liebre.svg" alt=""></a></div>
        <div class="barra"> 
            <form action=""><input type="text" class="primera-barra" placeholder="Buscar productos, marcas ..."><button class="busqueda1"><i
                class="fas fa-search"></i></button></form>
        </div>
        <p class="p1"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        <nav class="listas">
            <ul class="primera-lista">
                <li><a href="/">Ofertas</a></li>
                <li><a href="/">Tiendas Oficiales</a></li>
                <li><a href="/">Vender</a></li>
                <li><a href="/">Ayuda</a></li>
            </ul>  
            <ul class="segunda-lista">    <li><a href="/registro">Creá tu cuenta <i class="far fa-address-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="/">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
            <button id="burguer"><i class="fas fa-bars"></i></button>
        </nav>
    </header>
    
    <main class="login">
    <div class="logear">
        <label for="usuario">Nombre de ID:</label>
        <div class="inputs"><input type="text" class="primera-barra" name="usuario" required>
        </div>


        <label for="clave">Contraseña:</label>
        <div class="inputs"><input type="password" class="primera-barra" name="clave" required>
        </div>
    </div>
    <div class="enviar1">
        <button class="enviar"><a href="/"><h3>Enviar</h3></a></button>
    </div>



    </main>
    <footer>
        <i class="fas fa-credit-card"></i>
        <article class="futer">
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </article>

        <i class="fas fa-gift"></i>
        <article class="futer">
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </article>

        <i class="fas fa-user-shield"></i>
        <article class="futer">
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </article>

        <h6>Copyright © 1999-2020 MercadoLiebre S.R.L.</h6>
    </footer>
</body>
</html>